<h3>Users</h3>
<br />
<%= link_to 'Add User', new_user_registration_path %> |
<%= link_to 'View Roles', roles_path %>
<br/><br/>
<table>
<tr>
<th width='20%'>Username</th>
<th width='23%'>Full Name</th>
<th width='23%'>Email</th>
<th width='17%'>Status</th>
<th width='17%'></th>
</tr>
<% @users.each do |user| %>
  <tr class="<%= cycle("odd","even") %>" >
  <td><%= user.username %></td>
  <td><%= user.first_name %> <%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.status %></td>
  <td>
    <%= link_to 'Edit', edit_user_registration_path(:id => user) unless user.readonly? %> |
    <%= link_to 'Delete', user_path(user), :confirm => 'Delete?', :method => :delete unless user.readonly? %>
  </td>
  </tr>
<% end  %>
</table>
