<h3>Users</h3>
<table>
<tr>
<th>Username</th>
<th>Full Name</th>
<th>Email</th>
<th>Status</th>
<th></th>
</tr>
<% @users.each do |user| %>
  <tr class="<%= cycle("odd","even") %>" >
  <td><%= user.username %></td>
  <td><%= user.first_name %> <%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.status %></td>
  <td>
    <%= link_to 'Edit', edit_user_registration_path(:id => user) %> |
    <%= link_to 'Delete', user_path(user), :confirm => 'Delete?', :method => :delete %>
  </td>
  </tr>
<% end  %>
</table>
<br />
<%= link_to 'Add User', new_user_registration_path %> |
<%= link_to 'View Roles', roles_path %>
