<% if @ticket.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

    <ul>
    <% @ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :ticket_name %>
<%= f.text_field :ticket_name %>

<%= f.label :ticket_description %>
<%= f.text_area :ticket_description %>

<%= f.label :status %>
<%= f.select :status, options_for_select(['Open', 'Assigned', 'In-progress', 'Resolved', 'Reopened']) %>

<%= f.label :priority %>
<%= f.select :priority, options_for_select(['Minor', 'Normal', 'Major', 'Critical']) %>

<%= f.label :assigned_to %>
<%= f.select :assigned_to, options_from_collection_for_select(@project.users, 'id', 'email') %>

<%= f.label :logged_time %>
<%= f.text_field :logged_time %>

<%= f.label :tracker_type %>
<%= f.select :tracker_type, options_for_select(['Bug', 'Task']) %>

<%= f.submit %>
