<h3>Tickets</h3>
<%= form_tag project_tickets_path, :method => 'get', :remote => true do %>
  <span class="fields">
  <%= text_field_tag "date", "Click to pick date..." %>
  </span>
  <span class="fields">
    <%= select_tag "assigned_to", options_from_collection_for_select(@project.users, 'id', 'email'), {:include_blank => "Users" } %>
  </span>
  <span class="fields">
  <%= select_tag "status", options_for_select(['Status', 'Open', 'Assigned', 'In-progress', 'Resolved', 'Reopened']) %>
  </span>
  <span class="fields">
  <%= select_tag "priority", options_for_select(['Priority', 'Minor', 'Normal', 'Major', 'Critical']) %>
  </span>
  <span class="fields">
  <%= submit_tag "Filter", :date => nil, :assigned_to => nil, :status => nil, :priority => nil %>
  </span>
<% end %>
<hr />
<% if @tickets.blank? %>
  <p id="notice">No match found...</p>
<% else %>
<table>
<tr>
<th width='10%'>Ticket Name</th>
<th width='35%'>Description</th>
<th width='5%'>Status</th>
<th width='5%'>Priority</th>
<th width='10%'>Assigned To</th>
<th width='10%'>Date Created</th>
<th width='10%'>Logged Time</th>
<th width='10%'>Tracker Type</th>
<th width='5%'></th>
</tr>
<% @tickets.each do |ticket| %>
<%# if ticket.status != "Resolved" %>
<% klass = "" %> 
<% klass = ticket.priority.eql?("Critical")? "critical":"" %>
  <tr class="<%= cycle("odd","even") %> <%= klass %>" >
    <td><%= link_to_if(can?(:edit, ticket), ticket.ticket_name, edit_project_ticket_path(@project,ticket), :remote => true) %></td>
    <td><%= ticket.ticket_description %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.get_assigned %></td>
    <td><%= ticket.created_at.to_date %></td>
    <td><%= ticket.logged_time %></td>
    <td><%= ticket.tracker_type %></td>
    <td>
      <%= link_to_if(can?(:destroy, ticket), "Delete", project_ticket_path(@project,ticket), :confirm => "Delete?", :method => :delete, :remote => true) %>
    </td>
  </tr>
<%# end %>
<% end %>
</table>
<% end %>
