<div class='formcontainer'>
  <h1>New Ticket</h1>
  <%= form_for @ticket, :url => project_tickets_url, :remote => true do |f| %>
    <%= render :partial => 'form' , :locals => {:f => f} %>
    
    <% if can? :create, Tag %>
      <p id='tags' class='fields'>
        <%= fields_for :tags do |builder| %>
          <% show_tags %>
          <%= f.label :tags %>  <i class= "small notice">use comma to separate tags</i> 
          <%= builder.text_field :label %>
        <% end -%>
      </p>
    <% end %>

    <p class="fields">
    <%= f.submit %>
    <p class="fields">
  <% end %>
</div>
