<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p class="fields">
  <%= f.label :project_name %><br />
  <%= f.text_field :project_name %>
</p>
<p class="fields">
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>  
<p class="fields">
  <%= f.label :status %><br />
  <%= f.select :status, options_for_select(['Active', 'Close']) %>
</p> 
<p class="fields">
  <%= f.label 'Members' %><br />
  <% User.all.each do |user| %>
    <%= f.label user.email %>
    <%= check_box_tag "project[user_ids][]", user.id, @project.users.include?(user) %><br />
  <% end %>
 </p>  
<p class="fields">
  <div class="actions">
    <%= f.submit %>
  </div>
</p>   
<% end %>
