<h3>Members</h3>
<!--
<table>
<% @members.each do |member| %>
  <tr>
    <td><%= member.email %></td>
    <td><%= link_to "Remove from project", members_project_path(@project, :user_id => member), :confirm => "Remove this member?", :method => :delete %></td>
  </tr>
<% end %>
</table>
-->
<div id="add_MemPane">
<%= form_for @project, :url => add_members_project_url, :method => 'put', :remote => true do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if can? :add_member, @project %> 
  <p class="fields">
    <% User.all.each do |user| %>
      <p style="text-indent: 30px;">
        <%= check_box_tag "project[user_ids][]", user.id, @project.users.include?(user) %>
        <%= user.email %>
      </p>
    <% end %>
  </p>
<% end %>

<br/>
<p class="fields">
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
</p>   
<% end %>
</div>
