<%= form_for @role do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :position %>
  <%= f.text_field :position %>
  
  <p class='small notice'>* checks/unchecks all boxes in row</p>
  <table class="role_assignments">
    <tr>
      <th colspan='5'></th>
    </tr>
    
    <tr>
      <th></th>
      <td>Create</td>
      <td>Read</td>
      <td>Update</td>
      <td>Delete</td>
    </tr>
    
    <tr id='project'>
      <th>Project Actions</th>
      <td><%= f.check_box :can_create_project %></td>
      <td><%= f.check_box :can_read_project %></td>
      <td><%= f.check_box :can_update_project %></td>
      <td><%= f.check_box :can_delete_project %></td>
      <td>*<%= check_box 'project', 'all' %></td>
    </tr>

    <tr id='ticket'>
      <th>Ticket Actions</th>
      <td><%= f.check_box :can_create_ticket %></td>
      <td><%= f.check_box :can_read_ticket %></td>
      <td><%= f.check_box :can_update_ticket %></td>
      <td><%= f.check_box :can_delete_ticket %></td>
      <td>*<%= check_box 'ticket', 'all' %></td>
    </tr>

    <tr id='tag'>
      <th>Tag Actions</th>
      <td><%= f.check_box :can_create_tag %></td>
      <td><%= f.check_box :can_read_tag %></td>
      <td><%= f.check_box :can_update_tag %></td>
      <td><%= f.check_box :can_delete_tag %></td>
      <td>*<%= check_box 'tag', 'all' %></td>
    </tr>

    <tr id='comment'>
      <th>Comment Actions</th>
      <td><%= f.check_box :can_create_comment %></td>
      <td><%= f.check_box :can_read_comment %></td>
      <td>-</td>
      <td><%= f.check_box :can_delete_comment %></td>
      <td>*<%= check_box 'comment', 'all' %></td>
    </tr>
    
    <tr>
      <th colspan='5'></th>
    </tr>
    
    <tr>
      <th>Add Members</th>
      <td><%= f.check_box :can_add_member %></td>
    </tr>
    
    <tr>
      <th>Remove Members</th>
      <td><%= f.check_box :can_add_member %></td>
    </tr>
    
    <tr>
      <th>Assign Tickets</th>
      <td><%= f.check_box :can_assign_ticket %></td>
    </tr>
    
  </table>
  <br/>
  <%= f.submit  %>
<% end %>
