<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tr>
      <th rowspan='2'>Position</th>
      <th colspan='4'>Project</th>
      <th colspan='4'>Ticket</th>
      <th colspan='4'>Tag</th>
      <th colspan='3'>Comment</th>
      <th colspan='2'>Member</th>
    </tr>
    
    <tr>
      
      <th>Create</th>
      <th>Read</th>
      <th>Update</th>
      <th>Delete</th>
      
      <th>Create</th>
      <th>Read</th>
      <th>Update</th>
      <th>Delete</th>

      <th>Create</th>
      <th>Read</th>
      <th>Update</th>
      <th>Delete</th>

      <th>Create</th>
      <th>Read</th>
      <th>Delete</th>
      
      <th>Add</th>      
      <th>Remove</th>
      
      <th>Assign Ticket</th>
    </tr>
    
    <tr>
      <td><%= f.text_field :position %></td>
      <td><%= f.check_box :can_create_project %></td>
      <td><%= f.check_box :can_read_project %></td>
      <td><%= f.check_box :can_update_project %></td>
      <td><%= f.check_box :can_delete_project %></td>
      <td><%= f.check_box :can_create_ticket %></td>
      <td><%= f.check_box :can_read_ticket %></td>
      <td><%= f.check_box :can_update_ticket %></td>
      <td><%= f.check_box :can_delete_ticket %></td>
      <td><%= f.check_box :can_create_tag %></td>
      <td><%= f.check_box :can_read_tag %></td>
      <td><%= f.check_box :can_update_tag %></td>
      <td><%= f.check_box :can_delete_tag %></td>
      <td><%= f.check_box :can_create_comment %></td>
      <td><%= f.check_box :can_read_comment %></td>
      <td><%= f.check_box :can_delete_comment %></td>
      <td><%= f.check_box :can_add_member %></td>
      <td><%= f.check_box :can_remove_member %></td>
      <td><%= f.check_box :can_assign_ticket %></td>
    </tr>
    
    <tr>
      <td><%= f.submit  %></td>
    </tr>
  </table>
<% end %>
