<h1>List of Roles</h1>

<% @roles.each do |role| %>
  <ul>
    <li>
      <%= role.position %>
      <%= link_to "Show", role %>
      <%= link_to "Edit", edit_role_path(role) %>
      <%= link_to "Delete", role, :confirm => 'Delete?', :method => :delete %>
    </li>
  </ul>
<% end %>

<%= link_to "Add Role", new_role_path %>
