<h1>List of Roles</h1>

<% @roles.each do |role| %>
  <ul class='block'>
    <li><%= role.position.humanize %></li>
    <li>
      <%= link_to "Show", role %>
      <%= link_to "Edit", edit_role_path(role) %>
      <%= link_to "Delete", role, :confirm => 'Delete?', :method => :delete %>
    </li>
  </ul>
<% end %>
<br/><br/>
<p><%= link_to "Add Role", new_role_path %></p>
