<table class="role_assignments">
  <tr>
    <th colspan='5'></th>
  </tr>
  
  <tr>
    <th></th>
    <td>Create</td>
    <td>Read</td>
    <td>Update</td>
    <td>Delete</td>
  </tr>
  
  <tr>
    <th>Project Actions</th>
    <td><%= display 'can_create_project' %></td>
    <td><%= display 'can_read_project' %></td>
    <td><%= display 'can_update_project' %></td>
    <td><%= display 'can_delete_project' %></td>
  </tr>

  <tr>
    <th>Ticket Actions</th>
    <td><%= display 'can_create_ticket' %></td>
    <td><%= display 'can_read_ticket' %></td>
    <td><%= display 'can_update_ticket' %></td>
    <td><%= display 'can_delete_ticket' %></td>
  </tr>

  <tr>
    <th>Tag Actions</th>
    <td><%= display 'can_create_tag' %></td>
    <td><%= display 'can_read_tag' %></td>
    <td><%= display 'can_update_tag' %></td>
    <td><%= display 'can_delete_tag' %></td>
  </tr>

  <tr>
    <th>Comment Actions</th>
    <td><%= display 'can_create_comment' %></td>
    <td><%= display 'can_read_comment' %></td>
    <td>-</td>
    <td><%= display 'can_delete_comment' %></td>
  </tr>
  
  <tr>
    <th colspan='5'></th>
  </tr>
  
  <tr>
    <th>Add Members</th>
    <td><%= display 'can_add_member' %></td>
  </tr>
  
  <tr>
    <th>Remove Members</th>
    <td><%= display 'can_remove_member' %></td>
  </tr>
  
  <tr>
    <th>Assign Tickets</th>
    <td><%= display 'can_assign_ticket' %></td>
  </tr>
  
</table>
