<!DOCTYPE html>
<html>
<head>
  <title>MalCom</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
  <div id="header_content">
  <span id="title">
    MalCom
  </span>
  <span id="right_nav">
    <% if user_signed_in? and current_user.admin? %>
    <%= link_to "Home", projects_path %>
    <span id="admin_nav">
      <%= link_to 'Projects', admin_projects_path %>
      <%= link_to 'Users', users_path %>
    </span> 
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Logout', logout_url %>
      <select id="proj_list">
      <option>Select Project</option>
      <% current_user.projects.each do |project| %>
      <option value="<%= project_path(project) %>" >
        <%= project.project_name %>
      </option>
      <% end %>
      </select>
    <% else %>
      <%= link_to 'Login', login_url %>
    <% end %>
    
  </span>
  </div>
</div>
<div id="main">
<%= yield %>
</div>
</body>
</html>
